<nav class="navbar bg-body-tertiary mb-5">
  <form class="container-fluid justify-content-center">
    <ng-container *ngIf="isLoggedIn; else loginButton">
      <button 
        (click)="logout()"
        class="btn btn-sm btn-outline-danger me-2"
        type="button"
        routerLink="/logout"
      >
        Logout
      </button>
    </ng-container>
    <ng-template #loginButton>
      <button
        class="btn btn-sm btn-outline-success me-2"
        type="button"
        routerLinkActive="active"
        routerLink="/login"
      >
        Login
      </button>
    </ng-template>
    <button
      *ngIf="isLoggedIn"
      class="btn btn-sm btn-outline-secondary"
      type="button"
      routerLinkActive="active"
      routerLink="/inbox"
    >
      Inbox
    </button>
    <button
      *ngIf="isLoggedIn"
      class="btn btn-sm btn-outline-secondary"
      type="button"
      routerLinkActive="active"
      routerLink="/sendmsg"
    >
      Send Message
    </button>
    <button
      *ngIf="isAdmin"
      class="btn btn-sm btn-outline-secondary"
      type="button"
      routerLinkActive="active"
      routerLink="/adduser"
    >
      Add User
    </button>
    <button
      *ngIf="isAdmin"
      class="btn btn-sm btn-outline-secondary"
      type="button"
      routerLinkActive="active"
      routerLink="/listusers"
    >
      List Users
    </button>
    <button
      *ngIf="isAdmin"
      class="btn btn-sm btn-outline-secondary"
      type="button"
      routerLinkActive="active"
      routerLink="/logs"
    >
      Logs
    </button>
  </form>
</nav>
<router-outlet></router-outlet>
